body{
    background- color:white:
}

h1{
    background-color:blue; color:rgb(33,33, 148);
}
.heading1{
    font-size: 22px;color:brown;
}
.heading2{
    font-size: 20px; background-color:green; color:gold;
}
.heading3{
    font size: 20px; background-color:rgb(64,154,64); color:blac
}

